* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0%;

}
.inicio {
    width: 100%;
}
.inicio h1{
    text-align: center;
    color: white;
}
.inicio img {
    width: 100%;
}
.galeria {
    width: 100%;
}
.four-column {
    width: 25%;
    float: left;
}
.four-column img {
    width: 100%;
}
@media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
        float: none;
    }
    .four-column {
        width: 90%;
        margin: 5%;
    }
    .four-column img {
        text-align: center;
    }

}